---
title: Tags
permalink: /tags/
layout: main.njk
description: This is a list of all tags used on blog posts written by Amber Wilson.
---
<div class="wrapper tag-list-wrapper">
  <h1 class="title tags-title">Tags</h1>

  <ul class="tags-list readable-text">
    {% for tag in collections.tagList | tagSort %}
      {% set tagUrl %}/tags/{{ tag }}/{% endset %}
      <li>
        <a href="{{ tagUrl | url }}" class="post-tag">{{ tag }}</a>
        {# http://dirtystylus.com/2020/09/01/eleventy-tag-list-sorting-and-post-count/ #}
        <span>({{ collections[tag].length }})</span>
      </li>
    {% endfor %}
  </ul>
</div>