---
permalink: /tags/
layout: main.njk
description: This is a list of all tags used on blog posts written by Amber Wilson.
---
<h1>Tags</h1>

<ul>
  {% for tag in collections.tagList %}
    {% set tagUrl %}/tags/{{ tag }}/{% endset %}
    <li>
      <a href="{{ tagUrl | url }}" class="post-tag">{{ tag }}</a>
    </li>
  {% endfor %}
</ul>