---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - post
    - tagList
    - bookReview
    - wilt
  addAllPagesToCollections: true
permalink: /tags/{{ tag }}/
layout: main.njk
---
<h1>Tagged “{{ tag }}”</h1>

<ul>
{% set taglist = collections[ tag ] %}
{% for post in taglist | reverse %}
  <li><a href="{{ post.url | url }}">{{ post.data.title }}</a></li>
{% endfor %}
</ul>