---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - post
    - tagList
    - bookReview
    - wilt
  addAllPagesToCollections: true
permalink: /tags/{{ tag }}/
layout: main.njk
title: Tagged posts
description: A list of tagged posts.
---
<div class="wrapper tags-wrapper">
  <h1 class="title tags-title">Posts tagged with “{{ tag }}”</h1>
  <ul class="tags-post-list">
    {% set taglist = collections[tag] %}
    {% for post in taglist %}
      <li>
        <a href="{{ post.url | url }}">{{ post.data.title }}</a>
      </li>
    {% endfor %}
  </ul>
  <p class="back-to-link">
    <a href="/tags">
      <span class="back-to-arrow">&#8592;&nbsp;</span>all tags </a>
  </p>
</div>