---
layout: main.njk
---

<div class="blog-post-wrapper">
  <h1 class="blog-post-title">{{ title }}</h1>
  <p class="blog-post-date">{{ date | readableBlogPostDate }}</p>
  <p>{{ content | emojiReadTime | safe }}</p>

  <article class="blog-post">
  {{ content | safe }}
  </article>

  <hr>
  <ul>
    {%- set nextPost = collections.posts | getNextCollectionItem(page) %}
    {%- if nextPost %}<li>Next: <a href="{{ nextPost.url | url }}">{{ nextPost.data.title }}</a></li>{% endif %}
    {%- set previousPost = collections.posts | getPreviousCollectionItem(page) %}
    {%- if previousPost %}<li>Previous: <a href="{{ previousPost.url | url }}">{{ previousPost.data.title }}</a></li>{% endif %}
  </ul>
</div>

<script type="application/ld+json">
  { 
    "@context": "https://schema.org", 
    "@type": "BlogPosting",
    "headline": "{{ title }}",
    "genre": "{{ tags }}",
    "keywords": "{{ tags }}", 
    "wordcount": "{{ content | count }}",
    "url": "https://amberwilson.co.uk/{{ page.url }}",
    "image": "https://amberwilson.co.uk/img/favicon/favicon-32x32.png",
    "datePublished": "{{ date }}",
    "dateModified": "{{ date }}",    
    "description": "{{ content | getExcerpt }}",
    "articleBody": "{{ content }}",
    "mainEntityOfPage": {
      "@type": "WebPage"
    },
    "publisher": {
      "@type": "Person",
      "name": "Amber Wilson"
    }
    "author": {
      "@type": "Person",
      "name": "Amber Wilson"
    }
  }
</script>
