---
layout: main.njk
---
<div class="wrapper blog-post-wrapper">
  <article class="blog-post h-entry">
    <h1 class="title blog-post-title">{{ title }}</h1>
    <time class="post-date dt-published" itemprop="dateCreated pubdate datePublished">{{ date | readableBlogPostDate }}</time>
    <p class="post-reading-time">{{ content | emojiReadTime | safe }}</p>
    {%- if status -%}
      <span class="blog-post-status-in-post">Room for growth <span aria-hidden="true">&#127793;</span></span>
    {%- endif -%}
    <p class="tags-with-no-background">
      {% for tag in tags %}
        {%- if collections.tagList.indexOf(tag) != -1 -%}
          {% set tagUrl %}/tags/{{ tag }}/{%endset %}
          <a href="{{ tagUrl | url }}" aria-label="{{ tag }} tag">{{ tag }}</a>
        {%- endif -%}
      {% endfor %}
    </p>
    <div class="e-content" itemprop="articleBody">
      {{ content | safe }}
    </div>
  </article>
  {% from "macros/coffeeLogoSVG.njk" import coffeeLogoSVG %}
  <a href="https://www.buymeacoffee.com/ambrwlsn" class="coffee" aria-label="Buy Amber a coffee">
    {{ coffeeLogoSVG() }}
    <span>Buy me a coffee</span>
    <span role="img" aria-label="love">&#10084;&#65039;</span>
  </a>
  {% include 'webmentionlist.njk' %}
  <hr>
  <ul class="previous-and-next-section">
    {%- set nextPost = collections.posts | getNextCollectionItem(page) %}
    {%- if nextPost %}
      <li style="margin-bottom: var(--spacingS)">Next: <a href="{{ nextPost.url | url }}" aria-label="Next post - {{ nextPost.data.title }}">{{ nextPost.data.title }}</a>
      </li>
    {% endif %}
    {%- set previousPost = collections.posts | getPreviousCollectionItem(page) %}
    {%- if previousPost %}
      <li>Previous: <a href="{{ previousPost.url | url }}" aria-label="Previous post - {{ previousPost.data.title }}">{{ previousPost.data.title }}</a>
      </li>
    {% endif %}
  </ul>
  <hr>
</div>

<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "NewsArticle",
    "mainEntityOfPage": {
      "@type": "WebPage",
      "@id": "https://amberwilson.co.uk{{ page.url }}"
    },
    "headline": "{{ title }}",
    "image": ["https://amberwilson.co.uk/img/avatar.png"],
    "datePublished": "{{ date | structuredDataDate }}",
    "dateModified": "{{ date | structuredDataDate }}",
    "author": {
      "@type": "Person",
      "name": "Amber Wilson"
    },
    "publisher": {
      "@type": "Person",
      "name": "Amber Wilson"
    },
    "logo": {
      "@type": "ImageObject",
      "url": "https://amberwilson.co.uk/img/favicon/favicon-32x32.png"
    }
  }
}
</script>
<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "BreadcrumbList",
    "itemListElement": [
      {
        "@type": "ListItem",
        "position": 1,
        "name": "Blog",
        "item": "https://amberwilson.co.uk/blog/"
      }, {
        "@type": "ListItem",
        "position": 2,
        "name": "{{ title }}"
      }
    ]
  }
</script>