---
layout: main.njk
---
<div class="wrapper blog-post-wrapper">
  <h1 class="title blog-post-title">{{ title }}</h1>
  <p class="post-date">{{ date | readableBlogPostDate }}</p>
  <p class="post-reading-time">{{ content | emojiReadTime | safe }}</p>

  <article class="blog-post h-entry">
    {{ content | safe }}
  </article>
  {% from "macros/coffeeLogoSVG.njk" import coffeeLogoSVG %}
  <a href="https://www.buymeacoffee.com/ambrwlsn" class="coffee" aria-label="Buy Amber a coffee">
    {{ coffeeLogoSVG() }}
    <span>Buy me a coffee</span>
    <span role="img" aria-label="love">&#10084;&#65039;</span>
  </a>
  <hr>
  <ul class="previous-and-next-section">
    {%- set nextPost = collections.posts | getNextCollectionItem(page) %}
    {%- if nextPost %}
      <li>Next: <a href="{{ nextPost.url | url }}" aria-label="Next post - {{ nextPost.data.title }}">{{ nextPost.data.title }}</a>
      </li>
    {% endif %}
    {%- set previousPost = collections.posts | getPreviousCollectionItem(page) %}
    {%- if previousPost %}
      <li>Previous: <a href="{{ previousPost.url | url }}" aria-label="Previous post - {{ previousPost.data.title }}">{{ previousPost.data.title }}</a>
      </li>
    {% endif %}
  </ul>
</div>

<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "NewsArticle",
    "mainEntityOfPage": {
      "@type": "WebPage",
      "@id": "https://amberwilson.co.uk{{ page.url }}"
    },
    "headline": "{{ title }}",
    "image": ["https://amberwilson.co.uk/img/avatar.png"],
    "datePublished": "{{ date | structuredDataDate }}",
    "dateModified": "{{ date | structuredDataDate }}",
    "author": {
      "@type": "Person",
      "name": "Amberr Wilson"
    },
    "publisher": {
      "@type": "Person",
      "name": "Amber Wilson"
    },
    "logo": {
      "@type": "ImageObject",
      "url": "https://amberwilson.co.uk/img/favicon/favicon-32x32.png"
    }
  }
}
</script>
<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "BreadcrumbList",
    "itemListElement": [
      {
        "@type": "ListItem",
        "position": 1,
        "name": "Blog",
        "item": "https://amberwilson.co.uk/blog/"
      }, {
        "@type": "ListItem",
        "position": 2,
        "name": "{{ title }}"
      }
    ]
  }
</script>