---
layout: main.njk
---

<div class="wrapper learn-post-wrapper">
  <h1>{{ title }}</h1>
  <p class="learn-post-date">{{ postdate | readableBlogPostDate }}</p>
  <p>{{ content | emojiReadTime | safe }}</p>
  <article>{{ content | safe }}</article>
  <hr>
  <ul class="previous-and-next-section">
    {%- set nextLearnPost = collections.learn | getNextCollectionItem(page) %}
    {%- if nextLearnPost %}
      <li>Next: <a href="{{ nextLearnPost.url | url }}" aria-label="Next post - {{ nextLearnPost.data.title }}">{{ nextLearnPost.data.title }}</a>
      </li>
    {% endif %}
    {%- set previousLearnPost = collections.learn | getPreviousCollectionItem(page) %}
    {%- if previousLearnPost %}
      <li>Previous: <a href="{{ previousLearnPost.url | url }}" aria-label="Previous post - {{ previousLearnPost.data.title }}">{{ previousLearnPost.data.title }}</a>
      </li>
    {% endif %}
  </ul>
</div>

<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "NewsArticle",
    "mainEntityOfPage": {
      "@type": "WebPage",
      "@id": "https://amberwilson.co.uk/{{ page.url }}"
    },
    "headline": "{{ title }}",
    "image": ["https://amberwilson.co.uk/img/avatar.png"],
    "datePublished": "{{ postdate | structuredDataDate }}",
    "dateModified": "{{ postdate | structuredDataDate }}",
    "author": {
      "@type": "Person",
      "name": "Amber Wilson"
    },
    "publisher": {
      "@type": "Person",
      "name": "Amber Wilson"
    },
    "logo": {
      "@type": "ImageObject",
      "url": "https://amberwilson.co.uk/img/favicon/favicon-32x32.png"
    }
  }
}
</script>
<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "BreadcrumbList",
    "itemListElement": [
      {
        "@type": "ListItem",
        "position": 1,
        "name": "Learn",
        "item": "https://amberwilson.co.uk/learn/"
      }, {
        "@type": "ListItem",
        "position": 2,
        "name": "{{ title }}"
      }
    ]
  }
</script>