{% from "macros/logoSVG.njk" import logoSVG %}

<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="robots" content="index,follow"/>
		<title>{{ title }} | Amber Wilson</title>
		<meta name="description" content="{% if description -%}{{ description }}{% elif (excerpt) -%}{{ excerpt }}{% elif (postExcerpt) -%}{{ postExcerpt | trim }}{% elif (learnExcerpt) -%}{{ learnExcerpt | trim }}{% else -%}{{ page.url | log }}{% endif -%}"/>
		<link rel="canonical" href="https://amberwilson.co.uk{{ page.url }}"/>
		<link rel="icon" href="{{ '/img/favicon/favicon-32x32.png' | url }}"/>
		<meta name="keywords" content="{% if keywords -%}{{ keywords }}{% endif %}"/>
		<meta name="author" content="Amber Wilson"/>
		<meta name="publisher" content="Amber Wilson"/>
		<meta name="copyright" content="Amber Wilson"/>
		<meta property="og:title" content="All posts"/>
		<meta property="og:type" content="website"/>
		<meta property="og:description" content="{% if description -%}{{ description }}{% elif (excerpt) -%}{{ excerpt }}{% elif (postExcerpt) -%}{{ postExcerpt | trim }}{% elif (learnExcerpt) -%}{{ learnExcerpt | trim }}{% endif -%}"/>
		<meta property="og:image" content="https://amberwilson.co.uk/favicon.png"/>
		<meta property="og:url" content="{{ page.url }}"/>
		<meta itemProp="name" content="{{ title }}"/>
		<meta itemProp="description" content="{% if description -%}{{ description }}{% elif (excerpt) -%}{{ excerpt }}{% elif (postExcerpt) -%}{{ postExcerpt | trim }}{% elif (learnExcerpt) -%}{{ learnExcerpt | trim }}{% endif -%}"/>
		<meta name="twitter:card" content="summary"/>
		<meta name="twitter:image" property="og:image" content="https://amberwilson.co.uk/favicon.png"/>
		<meta name="twitter:site" content="@ambrwlsn90"/>
		<meta name="twitter:site:id" content="790735158"/>
		<meta name="twitter:creator" content="@ambrwlsn90"/>
		<meta name="twitter:creator:id" content="790735158"/>
		<meta name="twitter:url" property="og:url" content="{{ page.url }}"/>
		<meta name="twitter:title" property="og:title" content="{{ title }}"/>
		<meta name="twitter:description" property="og:description" content="{% if description -%}{{ description }}{% elif (excerpt) -%}{{ excerpt }}{% elif (postExcerpt) -%}{{ postExcerpt | trim }}{% elif (learnExcerpt) -%}{{ learnExcerpt | trim }}{% endif -%}"/>
		<meta name="msapplication-TileColor" content="#da532c">
		<link rel="mask-icon" href="/img/favicon/safari-pinned-tab.svg" color="#5bbad5">
		<link rel="apple-touch-icon" sizes="180x180" href="{{ '/img/favicon/apple-touch-icon.png' | url }}">
		<link rel="icon" type="image/png" sizes="192x192" href="{{ '/img/favicon/android-chrome-192x192.png' | url }}">
		<link rel="icon" type="image/png" sizes="256x256" href="{{ '/img/favicon/android-chrome-256x256.png' | url }}">
		<link rel="icon" type="image/png" sizes="32x32" href="{{ '/img/favicon/favicon-32x32.png' | url }}">
		<link rel="icon" type="image/png" sizes="16x16" href="{{ '/img/favicon/favicon-16x16.png' | url }}">
		<script>
			const html = document.getElementsByTagName("html")[0];
			var localStorageColorScheme = localStorage.getItem("color-scheme");
			var darkModeMediaQuery = window.matchMedia('(prefers-color-scheme: dark)');
			var prefersDarkMode = darkModeMediaQuery.matches;

			if (localStorageColorScheme) {
				html.setAttribute("class", localStorageColorScheme);
			}
		</script>
		<script async defer data-domain="amberwilson.co.uk" src="https://plausible.io/js/plausible.js"></script>
		<link rel="stylesheet" type="text/css" href="{{ '/css/minified.css' | url }}"/>
	</head>

	<body>

		<a class="skip-to-content-link" href="#main">Skip to main content</a>
		<nav id="main-nav">
			<a class="nav-logo-link" href="/">{{ logoSVG() }}</a>
			<a class="nav-blog-link {{ 'active' if '/blog' in page.url }}" href="{{ '/blog' | url }}">Blog</a>
			<a class="{{ 'active' if '/learn' in page.url }}" href="{{ '/learn' | url }}">Learn</a>
			<a class="{{ 'active' if '/read' in page.url }}" href="{{ '/read' | url }}">Read</a>
			<a class="{{ 'active' if '/projects' in page.url }}" href="{{ '/projects' | url }}">Projects</a>
			<a class="{{ 'active' if '/about' in page.url }}" href="{{ '/about' | url }}">About</a>
			<a class="{{ 'active' if '/cv' in page.url }}" href="{{ '/cv' | url }}">CV</a>
		</nav>

		<main id="main">
			{{ content | safe }}
		</main>

		<script>
			const inputMarkup = `
			<div class="checkbox-wrapper">
				<input type="checkbox" id="dark" name="dark">
				<span class="focus-outline"></span>
				<label for="dark">
					<span class="hidden">Light and Dark Mode Toggle</span>
				</label>
			</div>
		`

			const navElement = document.getElementById("main-nav");
			navElement.insertAdjacentHTML('beforeend', inputMarkup);

			const element = document.getElementById('dark');
			element.checked = localStorageColorScheme
				? localStorageColorScheme === "dark"
				: prefersDarkMode;

			element.addEventListener('click', function (event) {
				localStorage.setItem(
					"color-scheme", event.target.checked
					? "dark"
					: "light");
				if (event.target.checked) {
					html.setAttribute("class", "dark");
				} else {
					html.setAttribute("class", "light");
					element.checked = false;
				}
			}, false);

			darkModeMediaQuery.addListener(function callback(query) {
				if (!localStorageColorScheme) {
					element.checked = query.matches;
				}
			});
		</script>
	</body>

</html>