---
layout: main.njk
---

<div class="wrapper learn-post-wrapper">
    <article class="h-entry">
        <h1>{{ title }}</h1>
        <time class="post-date dt-published" itemprop="dateCreated pubdate datePublished">{{ date | readableBlogPostDate }}</time>
        <p class="post-reading-time">{{ content | emojiReadTime | safe }}</p>
        <div class="e-content" itemprop="articleBody">
            {{ content | safe }}
        </div>
    </article>
    <hr>
    <ul class="previous-and-next-section">
        {%- set nextSocialPost = collections.social | getNextCollectionItem(page) %}
        {%- if nextSocialPost %}
            <li>Next: <a href="{{ nextSocialPost.url | url }}" aria-label="Next post - {{ nextSocialPost.data.title }}">{{ nextSocialPost.data.title }}</a>
            </li>
        {% endif %}
        {%- set previousSocialPost = collections.social | getPreviousCollectionItem(page) %}
        {%- if previousSocialPost %}
            <li>Previous: <a href="{{ previousSocialPost.url | url }}" aria-label="Previous post - {{ previousSocialPost.data.title }}">{{ previousSocialPost.data.title }}</a>
            </li>
        {% endif %}
    </ul>
</div>

<script type="application/ld+json">
  {
      "@context": "https://schema.org",
      "@type": "NewsArticle",
      "mainEntityOfPage": {
          "@type": "WebPage",
          "@id": "https://amberwilson.co.uk/{{ page.url }}"
      },
      "headline": "{{ title }}",
      "image": ["https://amberwilson.co.uk/img/avatar.png"],
      "datePublished": "{{ date | structuredDataDate }}",
      "dateModified": "{{ date | structuredDataDate }}",
      "author": {
          "@type": "Person",
          "name": "Amber Wilson"
      },
      "publisher": {
          "@type": "Person",
          "name": "Amber Wilson"
      },
      "logo": {
          "@type": "ImageObject",
          "url": "https://amberwilson.co.uk/img/favicon/favicon-32x32.png"
      }
  }
</script>
<script type="application/ld+json">
    {
        "@context": "https://schema.org",
        "@type": "BreadcrumbList",
        "itemListElement": [
            {
                "@type": "ListItem",
                "position": 1,
                "name": "Social Posts",
                "item": "https://amberwilson.co.uk/social/"
            }, {
                "@type": "ListItem",
                "position": 2,
                "name": "{{ title }}"
            }
        ]
    }
</script>
