{%- set absoluteUrl -%}{{ page.url | url | absoluteUrl(metadata.url) }}{%- endset -%}
{%- set mentions = webmentions.children | webmentionsForUrl(absoluteUrl) -%}

<div class="webmentions" id="webmentions">
    <div class="webmentions__responses">
        <h2>
            {% if (mentions.total === 1) %}
                {{ mentions.total }} Response
            {% else %}
                {{ mentions.total }} Responses
            {% endif %}
        </h2>&nbsp;
        <a class="webmentions__responses--link" aria-label="information on webmention responses" href="https://indieweb.org/Webmention">&#x2139;</a>
    </div>

    {% if mentions.likes.length %}
        <h3 class="webmentions__likes">
            {% if mentions.likes.length === 1%}{{ mentions.likes.length }} Like{% elif (mentions.likes.length > 1) -%}{{ mentions.likes.length }} Likes{% endif -%}
        </h3>

        <div class="webmentions__facepile">
            {% for like in mentions.likes | reverse | head(8) %}
                <a href="{{ like.url }}"><img loading="lazy" src="{% if like.photo %}{{ like.photo }}{% else %}{{ '/img/webmention-avatar-default.svg' | url }}{% endif %}" title="{{ like.name }}" alt="{{ like.name }}" class="webmentions__face"/></a>
            {% endfor %}
            {% if mentions.likes.length > 8 %}&nbsp;<span class="webmentions__more">+ {{ mentions.likes.length - 8 }} more</span>&#8230;{% endif %}
        </div>
    {% endif %}

    {% if mentions.reposts.length %}
        <h3>
            {% if mentions.reposts.length === 1%}{{ mentions.reposts.length }} Repost{% elif (mentions.reposts.length > 1) -%}{{ mentions.reposts.length }} Reposts{% endif -%}
        </h3>

        <div class="webmentions__facepile">
            {% for repost in mentions.reposts | reverse | head(8) %}
                <a href="{{ repost.url }}"><img loading="lazy" src="{% if repost.photo %}{{ repost.photo }}{% else %}{{ '/img/webmention-avatar-default.svg' | url }}{% endif %}" title="{{ repost.name }}" alt="{{ repost.name }}" class="webmentions__face"/></a>
            {% endfor %}
            {% if mentions.reposts.length > 8 %}&nbsp;<span class="webmentions__more">+ {{ mentions.reposts.length - 8 }} more</span>&#8230;{% endif %}
        </div>
    {% endif %}

    {% if mentions.replies.length %}
        <h3>
            {% if mentions.replies.length === 1%}{{ mentions.replies.length }} Reply{% elif (mentions.replies.length > 1) -%}{{ mentions.replies.length }} Replies{% endif -%}
        </h3>

        <ol class="webmentions__list">
            {% for reply in mentions.replies | reverse | head(10) %}
                <li class="webmentions__item">
                    <div class="webmention__meta">
                        {% if reply.author %}
                            <a class="webmention__author p-author h-card u-url" href="{{ reply.url }}" target="_blank" rel="noopener noreferrer">
                                {% if reply.author.photo %}
                                    <img class="webmention__author__photo u-photo" src="{{ reply.author.photo }}" alt="{{ reply.author.name }}">
                                {% else %}
                                    <img class="webmention__author__photo" src="{{ '/img/webmention-avatar-default.svg' | url }}" alt="">
                                {% endif %}
                                <strong class="webmention__author__name p-name">{{ reply.author.name }}</strong>
                            </a>
                        {% else %}
                            <span class="webmention__author">
                                <img class="webmention__author__photo" src="{{ '/img/webmention-avatar-default.svg' | url }}" alt="">
                                <strong>Anonymous</strong>
                            </span>
                        {% endif %}
                        {% if reply.published %}
                            <time class="webmention__pubdate dt-published" datetime="{{ reply.published }}">{{ reply.published  | readableBlogPostDate }}</time>
                        {% endif %}
                    </div>

                    <div class="webmention__content p-content">
                        {{ reply.content.value | safe }}
                    </div>
                </li>
            {% endfor %}
            {% if mentions.replies.length > 10 %}&nbsp;<span class="webmentions__more">+ {{ mentions.replies.length - 10 }} more</span>&#8230;{% endif %}
        </ol>
    {% endif %}

    {% if mentions.traditionalMentions.length %}
        <h3>
            {% if mentions.traditionalMentions.length === 1%}{{ mentions.traditionalMentions.length }} Mention{% elif (mentions.traditionalMentions.length > 1) -%}{{ mentions.traditionalMentions.length }} Mentions{% endif -%}
        </h3>

        <ol class="webmentions__list">
            {% for reply in mentions.traditionalMentions | reverse | head(5) %}
                <li class="webmentions__item">
                    <div class="webmention__meta">
                        {% if reply.author %}
                            <a class="webmention__author p-author h-card u-url" href="{{ reply.url }}" target="_blank" rel="noopener noreferrer">
                                {% if reply.author.photo %}
                                    <img class="webmention__author__photo u-photo" src="{{ reply.author.photo }}" alt="{{ reply.author.name }}">
                                {% else %}
                                    <img class="webmention__author__photo" src="{{ '/img/webmention-avatar-default.svg' | url }}" alt="">
                                {% endif %}
                                <strong class="webmention__author__name p-name">{{ reply.author.name }}</strong>
                            </a>
                        {% else %}
                            <span class="webmention__author">
                                <img class="webmention__author__photo" src="{{ '/img/webmention-avatar-default.svg' | url }}" alt="">
                                <strong>Anonymous</strong>
                            </span>
                        {% endif %}
                        {% if reply.published %}
                            <time class="webmention__pubdate dt-published" datetime="{{ reply.published }}">{{ reply.published  | readableBlogPostDate }}</time>
                        {% endif %}
                    </div>

                    <div class="webmention__content p-content">
                        {{ reply.content.value | safe }}
                    </div>
                </li>
            {% endfor %}
            {% if mentions.traditionalMentions.length > 5 %}&nbsp;<span class="webmentions__more">+ {{ mentions.traditionalMentions.length - 5 }} more</span>&#8230;{% endif %}
        </ol>
    {% endif %}

    {% if mentions.bookmarks.length %}
        <h3>
            {% if mentions.bookmarks.length === 1%}{{ mentions.bookmarks.length }} Bookmark{% elif (mentions.bookmarks.length > 1) -%}{{ mentions.bookmarks.length }} Bookmarks{% endif -%}
        </h3>

        <ol class="webmentions__list">
            {% for reply in mentions.bookmarks | reverse | head(5) %}
                <li class="webmentions__item">
                    <div class="webmention__meta">
                        {% if reply.author %}
                            <a class="webmention__author p-author h-card u-url" href="{{ reply.url }}" target="_blank" rel="noopener noreferrer">
                                {% if reply.author.photo %}
                                    <img class="webmention__author__photo u-photo" src="{{ reply.author.photo }}" alt="{{ reply.author.name }}">
                                {% else %}
                                    <img class="webmention__author__photo" src="{{ '/img/webmention-avatar-default.svg' | url }}" alt="">
                                {% endif %}
                                <strong class="webmention__author__name p-name">{{ reply.author.name }}</strong>
                            </a>
                        {% else %}
                            <span class="webmention__author">
                                <img class="webmention__author__photo" src="{{ '/img/webmention-avatar-default.svg' | url }}" alt="">
                                <strong>Anonymous</strong>
                            </span>
                        {% endif %}
                        {% if reply.published %}
                            <time class="webmention__pubdate dt-published" datetime="{{ reply.published }}">{{ reply.published  | readableBlogPostDate }}</time>
                        {% endif %}
                    </div>

                    <div class="webmention__content p-content">
                        {{ reply.content.value | safe }}
                    </div>
                </li>
            {% endfor %}
            {% if mentions.bookmarks.length > 5 %}&nbsp;<span class="webmentions__more">+ {{ mentions.bookmarks.length - 5 }} more</span>&#8230;{% endif %}
        </ol>
    {% endif %}

</div>