---
title: Webrings
eleventyExcludeFromCollections: true
description: Discover lots of cool webrings and get lost in the wonders of the personal website world!
---

<div class="homepage-wrapper">
  <h1>Webrings!</h1>
  <p style="max-width: 500px; text-align: center;">A webring is a thing that just sits there.<br> <span> &#11838; </span><br> A thing about which you may really care.<br> <span>&#11838;</span><br>Click around to find treasure and delight.<br><span>&#11838;</span><br> Marvel at all the lovely, pretty sites.</p>
  <p>
    <p style="margin-bottom: var(--spacingM); padding: .5rem; border: 2px solid var(--funkyBorder); border-radius: 10px; background: var(--blogPostPreviewCard); text-align: center">CSS JOY Webring</p>
    <div style="display: flex">
      <a style="flex: 1; margin: 0; padding: 0.1em; border: 2px dotted var(--funkyBorder);
      border-right-width: 0;
      background: var(--blogPostPreviewCard);" href="https://webri.ng/webring/cssjoy/previous?via=https://amberwilson.co.uk">Previous Site</a>
      <a style="flex: 1; margin: 0; padding: 0.1em; border: 2px dotted var(--funkyBorder);
      background: var(--blogPostPreviewCard);" href="https://webri.ng/webring/cssjoy/random?via=https://amberwilson.co.uk">Random Site</a>
      <a style="flex: 1; margin: 0; padding: 0.1em; border: 2px dotted var(--funkyBorder);
      border-left-width: 0;
      background: var(--blogPostPreviewCard);" href="https://webri.ng/webring/cssjoy/next?via=https://amberwilson.co.uk">Next Site</a>
    </div>
  </p>
</div>