--- 
title: Blog
layout: blogList.njk
description: These are all the blog posts I've written since I started web development back in 2017.
---

<div class="wrapper blog-list-wrapper">
  <h1 class="blog-list-title">{{ title }}</h1>
    <p class="blog-introduction">
      These are all the blog posts I've written since I started web development back in 2017. Have a browse, see <a class="all-tags-link" href="/tags">all tags</a> here, and add <span class="rss-feed-text"><a class="rss-feed-link" href="/rss.xml">my RSS feed</a>!<img src="/img/rss-feed-icon.svg" alt="rss feed icon"/></span>
    </p>
  <ul class="blog-list">
    {% for p in collections.posts | reverse %}
      <li>
        <a class="blog-list-post-title" href="{{ p.url }}">{{ p.data.title }}</a>
        <p class="blog-list-date">{{ p.data.date | readableBlogListDate }}</p>
        {% if p.data.excerpt %}
          <p class="blog-list-excerpt">{{ p.data.excerpt | toHTML | safe }}…</p>
        {% else %}
          <p class="blog-list-excerpt">{{ p.templateContent | getExcerpt }}</p>
        {% endif %} 
              <p class="tags blog-list-tags">
        {% for tag in p.data.tags %} 
          {%- if collections.tagList.indexOf(tag) != -1 -%} 
          {% set tagUrl %}/tags/{{ tag }}/{%endset %}
            <a href="{{ tagUrl | url }}">{{ tag }}</a> 
          {%- endif -%} 
        {% endfor %}
      </p>
      </li>
    {% endfor %}
  </ul>
</div>