---
title: CV
description: This is a list of my front end web engineer experience. See the rest on my experience on LinkedIn - https://www.linkedin.com/in/ambrwlsn90/!
---
{% from "macros/githubIconSVG.njk" import githubIconSVG %}
{% from "macros/linkedInIconSVG.njk" import linkedInIconSVG %}

<div class="wrapper cv-wrapper">
  <h1 class="title cv-title">CV</h1>
  <p class="readable-text">My name is Amber and I’m a frontend engineer living in Berlin.</p>
  <p>I have a keen interest in accessibility and performance, and extensive experience in agile, version control, testing, CI/CD, and error handling.</p>
  <p>I’ve worked on internal tools (TypeScript), onboarded engineers, run A/B tests, managed headless CMS requests, written middlewares for backend endpoints, overseen API creation, improved SEO, and more.</p>
  <p>In my spare time I write on my tech blog, organise and coach at <a href="https://codebar.io">codebar</a>, read, take photos, and take long walks outside!</p>
  <h2>Experience</h2>
  <div class="cv-item">
    <div class="cv-image">
      <img class="ableton-logo" src="img/ableton-logo.svg" alt="Ableton logo"/>
    </div>
    <div class="cv-details">
      <span class="cv-description-title">Web developer, Ableton</span>
      <span class="cv-description-date-location">Jul 2021 - present, Berlin, Germany</span>
      {# <p>
        <strong></strong>
      </p>
      <ul class="readable-text">
      </ul> #}
    </div>
  </div>
  <div class="cv-item">
    <div class="cv-image">
      <img class="n26-logo" src="img/n26-logo.svg" alt="N26 logo"/>
    </div>
    <div class="cv-details">
      <span class="cv-description-title">Frontend engineer, N26</span>
      <span class="cv-description-date-location">Jan 2019 - Jun 2021, Berlin, Germany</span>
      <p>
        <strong>Building an isomorphic React, CSS-in-JS, GraphQL, & Node.js banking web app and support site used by millions.</strong>
      </p>
      <ul class="readable-text">
        <li>Implemented secure inbox so users can send and receive sensitive data securely.</li>
        <li>Sole frontend developer for document PDF generation feature that saves 100s of contact hours per week.</li>
        <li>Lead feature development of <a class="link-single" href="https://support.n26.com">support website</a> that so far reduced contacts by 10%.</li>
        <li>Increase Google search page ranking through correct use of meta data and structured data.</li>
        <li>Optimise Contentful CMS space to markedly reduce 404s, incorrect slugs, and missing content.</li>
        <li>Hold live video tutorials and AMAs for content editors.</li>
      </ul>
    </div>
  </div>
  <div class="cv-item">
    <div class="cv-image">
      <img class="edenspiekermann-logo" src="img/edenspiekermann-logo.png" alt="Edenspiekermann logo"/>
    </div>
    <div class="cv-details">
      <span class="cv-description-title">Frontend developer, Edenspiekermann</span>
      <span class="cv-description-date-location">Jan 2018 - Dec 2018, Berlin, Germany</span>
      <p>
        <strong>Building a government web app and independently launching a product sign-up site.</strong>
      </p>
      <ul class="readable-text">
        <li>Led development of and launched a website using GatsbyJS in 2 weeks.</li>
        <li>Independently configured Craft CMS.</li>
        <li>Worked on a large React application.</li>
        <li>Maintained a versioned design system.</li>
      </ul>
    </div>
  </div>
  <div class="cv-item">
    <div class="cv-image">
      <img class="unit-logo" src="img/unit-logo.png" alt="The Unit logo"/>
    </div>
    <div class="cv-details">
      <span class="cv-description-title">Web development intern, The Unit</span>
      <span class="cv-description-date-location">May 2017 - Dec 2017, Brighton, UK</span>
      <p>
        <strong>Building a web app for an energy company.</strong>
      </p>
      <ul class="readable-text">
        <li>Built 404 page (HTML/CSS) into Angular app.</li>
        <li>Released app using CI/CD with Circle CI.</li>
        <li>Created JS (ES6) apps connected to APIs.</li>
        <li>Agile experience - sprints/retros/planning.</li>
      </ul>
    </div>
  </div>
  <p class="readable-text">Above is a list of my front end web engineer experience. See the <a class="link-single" href="https://www.linkedin.com/in/ambrwlsn90/">rest of my work experience on LinkedIn</a>!</p>
  <h2 class="cv-education">Education</h2>
  <p>
    <span class="cv-description-title">Master of Psychology, Leiden University</span>
    <span class="cv-description-date-location">2014 - 2015, Leiden, NL</span>
  </p>
  <p>
    <span class="cv-description-title">Postgraduate Diploma in Psychology, Christchurch University</span>
    <span class="cv-description-date-location">2012 - 2012, Christchurch, NZ</span>
  </p>
  <p>
    <span class="cv-description-title">Bachelor of Psychology, Christchurch University</span>
    <span class="cv-description-date-location">2008 - 2011, Christchurch, NZ</span>
  </p>

  <h2 class="contact-me-links">Contact me</h2>

  <p class="contact-links contact-links-not-home">
    <a rel="me" href="https://github.com/ambrwlsn">
      {{ githubIconSVG() }}
    </a>
    <a rel="me" href="https://www.linkedin.com/in/ambrwlsn90/">
      {{ linkedInIconSVG() }}
    </a>
  </p>

</div>

<script type="application/ld+json">
  [{
      "@context": "http://schema.org",
      "@type": "WebSite",
      "name": "CV | Amber Wilson",
      "alternateName": "Amber Wilson | Front end web engineer"
    }
  ]
</script>