---
title: CV
description: This is a list of my front end web engineer experience. See the rest on my experience on LinkedIn - https://www.linkedin.com/in/ambrwlsn90/!
---
{% from "macros/githubIconSVG.njk" import githubIconSVG %}
{% from "macros/twitterIconSVG.njk" import twitterIconSVG %}
{% from "macros/linkedInIconSVG.njk" import linkedInIconSVG %}

<div class="wrapper cv-wrapper">
  <h1 class="title cv-title">CV</h1>
  <p class="readable-text">My name is Amber and I’m a frontend engineer living in Berlin. I have a keen interest in accessibility, performance, and security, and extensive experience in agile, version control, testing, CI/CD, and error handling. Additionally, I’ve worked on internal tools (TypeScript), onboarded engineers, run A/B tests, managed headless CMS requests, written middlewares for backend endpoints, overseen API creation, improved SEO, and more. In my spare time I write on my tech blog, help developers increase their skills and find jobs at <a href="https://codebar.io">codebar</a>, read, take photos, and take long walks outside!</p>
  <h2>Experience</h2>
  <div class="cv-item">
    <div class="cv-image">
      <img class="n26-logo" src="img/n26-logo.svg" alt="N26 logo"/>
    </div>
    <div class="cv-details">
      <span class="cv-description-title">Frontend engineer, N26</span>
      <span class="cv-description-date-location">Jan 2019 - Present, Berlin, Germany</span>
      <ul class="readable-text">
        <li>Building React UI with Fela (CSS-in-JS), and server-side rendering (over 3 million users)</li>
        <li>Overseeing API creation for use with secure GraphQL/Apollo/Node middlewares</li>
        <li>Writing tests with Cypress/Jest/TestRail, and releasing various servers on a daily basis</li>
        <li>Leading development and maintenance of <a class="link-single" href="https://support.n26.com">support website</a> and Contentful CMS</li>
      </ul>
    </div>
  </div>
  <div class="cv-item">
    <div class="cv-image">
      <img class="edenspiekermann-logo" src="img/edenspiekermann-logo.png" alt="Edenspiekermann logo"/>
    </div>
    <div class="cv-details">
      <span class="cv-description-title">Frontend developer, Edenspiekermann</span>
      <span class="cv-description-date-location">Jan 2018 - Dec 2018, Berlin, Germany</span>
      <ul class="readable-text">
        <li>Worked independently on a mature React application</li>
        <li>Maintained a versioned design system</li>
        <li>Led development of website using GatsbyJS</li>
        <li>Worked with Craft CMS.</li>
      </ul>
    </div>
  </div>
  <div class="cv-item">
    <div class="cv-image">
      <img class="unit-logo" src="img/unit-logo.png" alt="The Unit logo"/>
    </div>
    <div class="cv-details">
      <span class="cv-description-title">Web development intern, The Unit</span>
      <span class="cv-description-date-location">May 2017 - Dec 2017, Brighton, UK</span>
      <ul class="readable-text">
        <li>Built 404 page (HTML/CSS) into Angular app</li>
        <li>Released app using CI/CD with Circle CI</li>
        <li>Created JS (ES6) apps connected to APIs</li>
        <li>Agile experience - sprints/retros/planning</li>
      </ul>
    </div>
  </div>
  <p class="readable-text">Above is a list of my front end web engineer experience. See the <a class="link-single" href="https://www.linkedin.com/in/ambrwlsn90/">rest of my work experience on LinkedIn</a>!</p>
  <h2 class="cv-education">Education</h2>
  <p>
    <span class="cv-description-title">Master of Psychology, Leiden University</span>
    <span class="cv-description-date-location">2014 - 2015, Leiden, NL</span>
  </p>
  <p>
    <span class="cv-description-title">Postgraduate Diploma in Psychology, Christchurch University</span>
    <span class="cv-description-date-location">2012 - 2012, Christchurch, NZ</span>
  </p>
  <p>
    <span class="cv-description-title">Bachelor of Psychology, Christchurch University</span>
    <span class="cv-description-date-location">2008 - 2011, Christchurch, NZ</span>
  </p>

  <h2 class="contact-me-links">Contact me</h2>

  <p class="contact-links contact-links-not-home">
    <a rel="me" href="https://github.com/ambrwlsn">
      {{ githubIconSVG() }}
    </a>
    <a rel="me" href="https://twitter.com/ambrwlsn90">
      {{ twitterIconSVG() }}
    </a>
    <a rel="me" href="https://www.linkedin.com/in/ambrwlsn90/">
      {{ linkedInIconSVG() }}
    </a>
  </p>

</div>

<script type="application/ld+json">
  [{
      "@context": "http://schema.org",
      "@type": "WebSite",
      "name": "CV | Amber Wilson",
      "alternateName": "Amber Wilson | Front end web engineer"
    }
  ]
</script>