---
title: CV | Amber Wilson
description: This is a list of my front end web engineer experience. See the rest on my experience on LinkedIn - https://www.linkedin.com/in/ambrwlsn90/</a>!
---
<div class="cv-wrapper">
    <h1 class="cv-title">CV</h1>
    <p class="cv-decription">(Get <a href="/cv/amber-wilson-resume-2020.pdf">PDF of Amber's CV</a>).</p>
    <p class="cv-decription">My name is Amber and I’m a front end engineer with a keen interest in performance, accessibility and security. I have extensive experience in agile, version control, testing, CI/CD, and error handling. Additionally, I’ve worked on internal tools (TypeScript), onboarded engineers, run A/B tests, managed headless CMS requests, written middlewares for backend endpoints, overseen API creation, improved SEO, and more. In my spare time I love writing, reading, taking photos, long walks outside, meeting new people and seeing new places!</p>
    <h2>Experience</h2>
    <div class="cv-item">
        <div class="cv-image">
            <img class="n26-logo" src="img/n26-logo.svg" alt="N26 logo"/>
        </div>
        <div class="cv-details">
            <span class="cv-description-title">Front end engineer, N26</span>
            <span class="cv-description-date-location">Jan 2019 - Present, Berlin, Germany</span>
            <ul>
                <li>Building React UI - accessible HTML, error handling, server-side rendering (for over 3 million users).</li>
                <li>Using GraphQL, Apollo and Node.js middlewares for handling data.</li>
                <li>Writing tests with Cypress and Jest, and contributing to app releases.</li>
                <li>Leading development and maintenance of support website and Contentful CMS.</li>
            </ul>
        </div>
    </div>
    <div class="cv-item">
        <div class="cv-image">
            <img class="edenspiekermann-logo" src="img/edenspiekermann-logo.png" alt="Edenspiekermann logo"/>
        </div>
        <div class="cv-details">
            <span class="cv-description-title">Front end developer, Edenspiekermann</span>
            <span class="cv-description-date-location">Jan 2018 - Dec 2018, Berlin, Germany</span>
            <ul>
                <li>Worked independently on a mature React application.</li>
                <li>Maintained a versioned design system.</li>
                <li>Selected and integrated tooltip library into application.</li>
                <li>Worked with Craft CMS.</li>
            </ul>
        </div>
    </div>
    <div class="cv-item">
        <div class="cv-image">
            <img class="unit-logo" src="img/unit-logo.png" alt="The Unit logo"/>
        </div>
        <div class="cv-details">
            <span class="cv-description-title">Web development intern, The Unit</span>
            <span class="cv-description-date-location">May 2017 - Dec 2017, Brighton, UK</span>
            <ul>
                <li>Contributed to an Angular application.</li>
                <li>Built a small PHP site.</li>
                <li>Participated in agile rituals and design workshops.</li>
                <li>Created several JavaScript (ES6) projects using APIs.</li>
            </ul>
        </div>
    </div>
    <p class="cv-decription">Above is a list of my front end web engineer experience. See the <a href="https://www.linkedin.com/in/ambrwlsn90/">rest on my work experience on LinkedIn</a>!</p>
    <h2 class="cv-education">Education</h2>
    <p>
        <span class="cv-description-title">Master of Psychology, Leiden University</span>
        <span class="cv-description-date-location">2014 - 2015, Leiden, NL</span>
    </p>
    <p>
        <span class="cv-description-title">Postgraduate Diploma in Psychology, Christchurch University</span>
        <span class="cv-description-date-location">2012 - 2012, Christchurch, NZ</span>
    </p>
    <p>
        <span class="cv-description-title">Bachelor of Psychology, Christchurch University</span>
        <span class="cv-description-date-location">2008 - 2011, Christchurch, NZ</span>
    </p>

</div>

</div>

<script type="application/ld+json">
[{
        "@context": "http://schema.org",
        "@type": "WebSite",
        "name": "CV | Amber Wilson",
        "alternateName": "Amber Wilson | Front end web engineer"
    }
]
</script>