{% from "macros/kindleSVG.njk" import kindleSVG %}
{% from "macros/headphonesSVG.njk" import headphonesSVG %}
{% from "macros/bookSVG.njk" import bookSVG %}

 {% macro bookReviewPanels(book) %}
<div>
    {{ book.title }}
</div>
<div class="main-review-container">
    <div class="review-container" 
    style="background-color:{{ book.reviewBoxColour }}";
    >
        {{ book.review }}
    </div>
    <div class="length-container" style="background-color:{{ book.lengthBoxColour }}";>{{ book.length}} 
    {% if (book.methodImage === "Headphones") %}minutes{% else %}pages{% endif %}
    </div>
    <div class="three-words-container"
    style="background-color:{{ book.useThreeWordsBoxColour }}";
    >
        {{ book.useThreeWords}}
    </div>
    <div class="method-container"
    style="background-color:{{ book.methodBoxColour }}";
    >
        {% if (book.methodImage === "Kindle") %}
        {{ kindleSVG(book.methodStroke , book.methodFill) }}
        {% elif (book.methodImage === "Headphones") %}
        {{ headphonesSVG(book.methodStroke , book.methodFill) }}
        {% elif (book.methodImage === "Book") %}
        {{ bookSVG(book.methodStroke , book.methodFill) }}
        {% else %}
        {{ "no method available" | log }} 
        {% endif %}
    </div>
    <div class="image-container"><img loading="lazy" src="img/{{ book.coverImage }}" alt="{{ book.coverImageAlt }}"/></div>
</div>
{% endmacro %}
