--- 
title: Search
description: Search through my blog posts here. This search was made with elasticlunr.
---
{# https://www.belter.io/eleventy-search/ #}
<div class="wrapper">
  <h1>Search</h1>
  <p>Search through all <strong>{{ collections.posts.length }}</strong> of my blog posts here. This search was made with <a href="https://www.npmjs.com/package/elasticlunr">elasticlunr</a>:</p>
  <p>
    <div class="field">
      <label class="hidden" for="searchField">Search for blog posts</label>
      <input type="search" id="searchField" style=""/>
    </div>
    <ul id="searchResults"/>
  </p>
</div>
<script
  type="text/javascript"
  src="https://cdnjs.cloudflare.com/ajax/libs/elasticlunr/0.9.6/elasticlunr.min.js"
></script>
<script type="text/javascript" src="/js/search.js"></script>