<h1>About</h1>

<p>I'm a web engineer, currently working at N26 where I use a wide range of modern web technologies including React, GraphQL, Jest, Apollo, and Webpack.</p>

<p>I am particularly interested in web accessibility and performance. This is because I strongly believe the web is for everyone, regardless of disability or device.</p>

<p>I strongly believe in using the least powerful technology possible for any task.</p>