---
title: About
description: My name is Amber and I'm a web developer. I currently work at Ableton.
---
{% from "macros/githubIconSVG.njk" import githubIconSVG %}
{% from "macros/twitterIconSVG.njk" import twitterIconSVG %}
{% from "macros/linkedInIconSVG.njk" import linkedInIconSVG %}

<div class="wrapper about-wrapper">

    <h1 class="about-title">About</h1>

    <img class="blog-image" src="img/me-at-tempelhof.jpg" alt="Amber on Tempelhof Field in Berlin" />

    <p>My name is Amber:</p>
    
    <ul class="readable-text">
        <li>Living with my small family in Berlin <span role='img' aria-label="Family emoji">👪</span>.</li>
        <li>Web developer at Ableton.</li>
        <li>Writing about web development.</li>
        <li>I believe the web is for everyone.</li>
        <li>I love the web community.</li>
    </ul>

    <h2 class="contact-me-links">Contact me</h2>

    <p class="contact-links contact-links-not-home">
            <a rel="me" href="https://github.com/ambrwlsn">
                {{ githubIconSVG() }}
            </a>
            <a rel="me" href="https://www.linkedin.com/in/ambrwlsn90/">
                {{ linkedInIconSVG() }}
            </a>
        </p>

</div>
