<div class="about-wrapper">

    <h1 class="about-title">About</h1>

    <p>My name is Amber and I'm a web engineer. I currently working at N26 where I use a wide range of modern web technologies including React, GraphQL, Jest, Apollo, and Webpack.</p>

    <p>I am particularly interested in web accessibility and performance. This is because I strongly believe the web is for everyone, regardless of disability or device.</p>

    <p>I strongly believe in using the least powerful technology possible for any task.</p>

    <p>I started out deveoping professionally in 2017 and have experience in both agency and product working environments.</p>

    <p>I'm constantly learning, every day, as a developer. I'm thankful for every learning experience and it makes me feel so good to look back at my progress over the last three years. I can't wait to see how much I'll learn in the next three.</p>

</div>
