body {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
  overflow-x: hidden;
}

main {
  width: 100%;
  padding: var(--spacingS) var(--spacingM);
  font-family: var(--fontSansSerif);
}

@media only screen and (min-width: 686px) {
  main {
    padding: var(--spacingM) var(--spacingL);
  }
}

nav a {
  font-family: var(--fontSansSerif);
  font-weight: bold;
}

a {
  color: var(--linkColor);
}

a:hover {
  color: var(--funkyBorder);
}

ul {
  list-style: none;
  padding: 0;
}

nav {
  padding: var(--spacingM);
  display: flex;
  justify-content: flex-end;
  flex-flow: row wrap;
  align-items: center;
  width: 100%;
}

nav a {
  align-items: center;
  font-size: 2rem;
  font-weight: bold;
  margin-right: 20px;
  color: var(--textColor);
  text-decoration: underline;
}

article {
  font-family: var(--fontSerif);
  line-height: 1.8;
  margin-top: var(--spacingL);
  font-size: var(--text09);
  font-weight: 300;
}

article p {
  margin-bottom: var(--spacingM);
}

article ul {
  list-style: unset;
  padding-left: var(--spacingM);
}

article strong {
  font-weight: bold;
}

article img,
article figure,
article blockquote {
  margin-bottom: var(--spacingM);
}

article a {
  font-weight: bold;
}

article blockquote {
  background: var(--blockQuoteBackgroundColor);
  border-left: 3px solid #777373;
  padding: var(--spacingL) var(--spacingM) var(--spacingL) var(--spacingL);
  border-radius: 3px;
}

article blockquote:before {
  color: #777373;
  content: open-quote;
  font-size: 4rem;
  line-height: 0;
  vertical-align: bottom;
  font-family: Arial, sans-serif;
  margin-right: var(--spacingXS);
}

article blockquote p {
  display: inline;
}

figcaption {
  font-size: var(--text09);
  font-family: var(--fontSansSerif);
}

.made-with {
  margin-top: var(--spacingXL);
  display: flex;
  align-items: center;
  flex-flow: row wrap;
  font-size: var(--text08);
}

.read-wrapper {
  width: 100%;
}

@media only screen and (min-width: 800px) {
  .read-wrapper {
    margin: 0 auto;
  }
}

.read-introduction {
  font-family: var(--fontSerif);
  margin-top: var(--spacingM);
  font-weight: 300;
  font-size: var(--text09);
  line-height: 1.8;
}

.read-wrapper p {
  margin-bottom: var(--spacingM);
}

.read-wrapper h2,
.cv-wrapper h2 {
  font-weight: 500;
  margin-bottom: var(--spacingM);
}

.cv-wrapper h2 {
  margin-top: var(--spacingL);
}

.cv-wrapper a {
  font-weight: bold;
}

.cv-wrapper ul {
  font-weight: 300;
  font-size: var(--text09);
  line-height: 1.8;
  margin-top: 0;
  font-family: var(--fontSerif);
}

.cv-wrapper li {
  margin-bottom: var(--spacingXS);
}

.cv-item {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: var(--spacingS);
  position: relative;
}

@media only screen and (min-width: 900px) {
  .cv-item {
    flex-direction: row;
    align-items: flex-start;
    margin-bottom: var(--spacingXXL);
  }
}

@media only screen and (max-width: 900px) {
  .cv-item:before {
    content: "";
    position: absolute;
    top: 175px;
    left: 0;
    bottom: 20px;
    width: 3px;
    background-color: var(--secondaryTextColor);
  }
}

@media only screen and (min-width: 900px) {
  .cv-item:not(:last-of-type):before {
    content: "";
    position: absolute;
    top: 160px;
    left: 75px;
    bottom: -45px;
    width: 3px;
    background-color: var(--secondaryTextColor);
  }
}

.cv-description-date-location {
  color: var(--secondaryTextColor);
  margin-bottom: var(--spacingS);
  display: block;
  font-family: var(--fontSansSerif);
}

@media only screen and (min-width: 900px) {
  .cv-details {
    margin-left: 0;
    width: 100%;
    margin-top: -0.33rem;
  }
}

.cv-details {
  margin-left: var(--spacingL);
}


@media only screen and (min-width: 900px) {
  .cv-details {
    margin-left: 1.5rem;
    max-width: 75%;
  }
}

.cv-item li {
  text-indent: -10px;
}

.cv-item li:before {
  content: "-";
  margin-right: var(--spacingXS);
}

.cv-image {
  display: flex;
  align-items: center;
  width: 150px;
  height: 150px;
  background-color: #ffffff;
  margin-bottom: var(--spacingM);
  border: 1px solid var(--secondaryTextColor);
}

.cv-education~p {
  margin-bottom: var(--spacingM);
}

.n26-logo {
  background-color: #36a28b;
}

.unit-logo,
.edenspiekermann-logo {
  padding: var(--spacingM);
}

.cv-description-title {
  font-family: var(--fontSansSerif);
  text-transform: uppercase;
  font-size: var(--text11);
}

.wrapper {
  padding: var(--spacingXL) 0 0 0;
}

.wrapper {
  width: 100%;
}

@media only screen and (min-width: 800px) {

  .wrapper {
    margin: 0 auto;
    width: 65%;
  }
}

@media only screen and (min-width: 1500px) {

  .wrapper {
    width: 40%;
  }
}

.homepage-wrapper {
  padding: var(--spacingXL) 0 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.blog-post-title,
.blog-post h2,
.read-title,
.about-title,
.learn-title,
.words-title,
.cv-title,
.tags-title,
.title {
  font-family: var(--fontSansSerif);
  font-weight: 500;
}

.tags-post-list li {
  font-weight: 500;
  line-height: 1.8;
}

.project-dad-joke {
  position: relative;
  max-width: 380px;
  height: 200px;
  background-color: #CEC1CB;
  border-radius: 15px;
  overflow: hidden;
}

.project-dad-joke-face {
  position: absolute;
  width: 150px;
  height: 150px;
  background-color: #92694B;
  border-radius: 100%;
  bottom: -25px;
  left: -20px;
  overflow: hidden;
}

.project-dad-joke-face::before {
  content: '';
  position: absolute;
  width: 55px;
  height: 55px;
  border-radius: 100%;
  border: 5px solid transparent;
  border-top-color: black;
  right: 30px;
  top: 32px;
  transform: rotate(-22deg);
}

.project-dad-joke-face::after {
  content: '';
  position: absolute;
  width: 55px;
  height: 55px;
  background-color: #CA3952;
  right: -30px;
  top: 48px;
  transform: rotate(147deg) skewX(38deg);
}

.project-dad-joke-title {
  font-size: var(--text15);
  margin: var(--spacingS) 0 0 var(--spacingM);
  display: inline-block;
  color: #ac2828;
}

.project-dad-joke-lol {
  position: absolute;
  width: 80px;
  bottom: 10px;
  right: 10px;
}

.project-title,
.not-found-title {
  margin: var(--spacingM) 0;
  font-weight: 500;
  font-family: var(--fontSansSerif);
}

.project-image {
  border: 1px solid var(--secondaryTextColor);
}

.project-wrapper a {
  font-family: var(--fontSerif);
  font-size: var(--text09);
  font-weight: bold;
  display: block;
}

.project-wrapper p {
  font-family: var(--fontSerif);
  font-weight: 300;
  margin: var(--spacingM) 0;
  font-size: var(--text09);
  line-height: 1.8;
}

.not-found-description {
  font-family: var(--fontSerif);
  font-weight: 300;
  margin: var(--spacingM) 0;
  font-size: var(--text09);
  line-height: 1.8;
}

.learn-post-wrapper h2,
.cv-wrapper h2 {
  font-weight: 300;
  font-family: var(--fontSansSerif);
  margin-bottom: var(--spacingM);
}

.learn-post-wrapper h1 {
  font-weight: 300;
  font-family: var(--fontSansSerif);
}

.learn-post-dates {
  font-size: var(--text08);
  font-family: var(--fontSerif);
  font-weight: 300;
  color: var(--secondaryTextColor);
}

.learn-post-date {
  font-weight: 300;
  margin-top: var(--spacingS);
  margin-bottom: 0;
  font-family: var(--fontSansSerif);
}

.learn-list {
  column-count: 1;
  font-size: var(--text12);
}

@media only screen and (min-width: 686px) {
  .learn-list {
    column-count: 2;
    font-size: var(--text15);
  }
}

.learn-list li {
  margin-bottom: var(--spacingS);
}

.learn-post-wrapper article a {
  font-weight: bold;
}

.blog-post h2 {
  margin-bottom: var(--spacingM);
  font-size: var(--text15);
}

.blog-post-date {
  margin-top: var(--spacingS);
}

.blog-introduction,
.learn-introduction {
  font-family: var(--fontSerif);
  margin-top: var(--spacingM);
  font-weight: 300;
  font-size: var(--text09);
  line-height: 1.8;
}

.blog-list-title {
  font-weight: 500;
}

.blog-list li {
  margin-top: var(--spacingL);
  background: var(--blogPostPreviewCard);
  padding: var(--spacingL) var(--spacingL) var(--spacingXS) var(--spacingM);
  border-bottom: 3px solid var(--funkyBorder);
  position: relative;
  border-radius: 3px;
  outline: none;
}

.all-tags-link,
.rss-feed-link {
  font-weight: bold;
}

.rss-feed-text {
  display: inline-flex;
}

.rss-feed-text img {
  margin-left: var(--spacingXS);
  margin-bottom: var(--spacingXXS);
}

.blog-list-post-title {
  font-size: var(--text15);
}

.blog-list-post-title:hover {
  color: var(--linkColor);
}

.blog-list-post-title::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
}

.blog-list-post-title:hover::after,
.blog-list-post-title:focus::after {
  border-right: 2px solid var(--linkHoverColor);
  border-left: 2px solid var(--linkHoverColor);
  border-top: 2px solid var(--linkHoverColor);
  border-bottom: 2px solid var(--funkyBorder);
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}

.blog-list-date {
  margin-bottom: var(--spacingM);
  text-transform: uppercase;
  font-size: var(--text09);
}

.blog-list-excerpt {
  font-family: var(--fontSerif);
  font-size: var(--text09);
  font-weight: 300;
}

.tags a {
  display: inline-block;
  padding: var(--spacingXXS) var(--spacingXS);
  background-color: var(--secondaryBackgroundColor);
  font-size: var(--text09);
  margin-bottom: var(--spacingXS);
  position: relative;
  color: var(--linkColor);
  border-radius: 3px;
  outline: none;
}

.tags a::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
}

.tags a:hover::after,
.tags a:focus::after {
  border: 2px solid var(--linkHoverColor);
  border-radius: 3px;
}

.blog-list-tags,
.learn-post-tags {
  margin: var(--spacingS) 0;
}

.learn-post-tags a {
  background-color: var(--tertiaryBackgroundColor);
}

.recent-blog-list-tags {
  margin-top: var(--spacingS);
  margin-top: auto;
}

.recent-blog-list-tags a {
  font-size: var(--text08);
}

.skip-to-content-link {
  position: absolute;
  left: 0;
  right: 0;
  font-size: 0.9rem;
  transform: translateX(-100%);
  padding: 0.2rem;
}

.about-wrapper p,
.cv-decription {
  font-family: var(--fontSerif);
  margin-top: var(--spacingM);
  font-weight: 300;
  font-size: var(--text09);
  line-height: 1.8;
}

.skip-to-content-link:focus {
  transform: translateX(10%) translateY(30%);
  width: fit-content;
  background-color: var(--secondaryBackgroundColor);
  color: var(--textColor);
}

.nav-logo-link {
  margin-right: auto;
}

.nav-logo-link svg {
  vertical-align: middle;
}

.nav-blog-link {
  margin-left: var(--spacingM);
}

.hidden {
  border-top-width: 0 !important;
  border-right-width: 0 !important;
  border-bottom-width: 0 !important;
  border-left-width: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  height: 1px !important;
  overflow: hidden !important;
  padding-top: 0 !important;
  padding-right: 0 !important;
  padding-bottom: 0 !important;
  padding-left: 0 !important;
  position: absolute !important;
  white-space: nowrap !important;
  width: 1px !important;
}

.main-review-container {
  margin: 0 auto;
  display: grid;
  width: auto;
  height: auto;
  margin-bottom: var(--spacingXL);
  grid-template-columns: 1fr var(--spacingM) 1fr var(--spacingM) 1fr var(--spacingM) 1fr;
  grid-template-rows: 13rem var(--spacingM) 0.5fr var(--spacingM) 0.5fr;
  grid-template-areas: 'review review review review review review review'
    '. . . . . . .''method method method . picture picture picture'
    '. . . . . . .''threewords threewords threewords . length length length';
}

@media only screen and (min-width: 800px) {
  .main-review-container {
    height: 600px;
    margin-bottom: var(--spacingXXXL);
    grid-template-columns: 1fr var(--spacingM) 1fr var(--spacingM) 1fr var(--spacingM) 1fr;
    grid-template-rows: 1fr var(--spacingM) 1fr var(--spacingM) 1fr;
    grid-template-areas: 'review review review . length length length'
      'review review review . . . .''review review review . . . picture'
      '. . . . . . picture''method . threewords threewords threewords . .';
  }
}

@media only screen and (min-width: 900px) {
  .main-review-container {
    height: 500px;
  }
}

.review-container {
  grid-area: review;
  padding: var(--spacingM);
  line-height: 1.5;
  font-size: var(--text09);
  border-radius: var(--reviewBorderRadius);
  overflow: scroll;
  color: var(--readText);
}

.review-title {
  margin-bottom: var(--spacingM);
  font-size: var(--text13);
  text-align: center;
  padding: 10px;
}

.length-container {
  grid-area: length;
  border-radius: var(--reviewBorderRadius);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--readText);
  font-size: var(--text13);
  padding: var(--spacingM);
}

@media only screen and (min-width: 320px) {
  .length-container {
    padding: 0;
  }
}

@media only screen and (min-width: 686px) {
  .length-container {
    font-size: var(--text25);
  }
}

.image-container {
  grid-area: picture;
  border-radius: var(--reviewBorderRadius);
}

.image-container img {
  width: 100%;
  object-fit: contain;
  vertical-align: middle;
  border-radius: var(--reviewBorderRadius);
}

.method-container {
  border-radius: var(--reviewBorderRadius);
  grid-area: method;
  display: flex;
  justify-content: center;
  align-items: center;
}

.three-words-container {
  grid-area: threewords;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--reviewBorderRadius);
  word-break: break-word;
  color: var(--readText);
  font-size: var(--text09);
  text-align: center;
}

@media only screen and (min-width: 686px) {
  .three-words-container {
    font-size: var(--text11);
  }
}

.read-menu-details {
  border: 3px solid var(--textColor);
  max-width: 300px;
  margin: auto;
  margin-top: var(--spacingXL);
  margin-bottom: var(--spacingXL);
  border-radius: 5px;
}

.read-menu-summary {
  display: block;
  border-bottom: 3px solid var(--textColor);
  cursor: pointer;
  text-align: center;
  padding: var(--spacingS) 0;
}

/* removes marker arrow from details and summary elements */
::-webkit-details-marker {
  display: none;
}

.read-menu {
  max-height: 200px;
  overflow-y: scroll;
  margin: auto;
  padding: var(--spacingS) 0;
  list-style: none;
}

.read-menu li {
  padding-left: var(--spacingM);
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  margin-bottom: var(--spacingS);
}

.read-more-link,
.back-to-link {
  font-size: var(--text11);
  text-align: center;
  text-decoration: underline;
  display: inline-block;
  line-height: 1;
}

.read-more-arrow {
  display: inline-block;
}

.logo {
  color: var(--textColor);
}

.github-icon,
.twitter-icon,
.linkedin-icon {
  color: var(--linkColor);
}

.github-icon:hover,
.twitter-icon:hover,
.linkedin-icon:hover,
.logo:hover {
  color: var(--funkyBorder);
}

/* https://gomakethings.com/full-width-images-with-only-css/ */
.blog-image {
  margin-bottom: var(--spacingL);
  left: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  max-width: 100vw;
  position: relative;
  right: 50%;
  width: 100vw;
}

@media only screen and (min-width: 800px) {
  .blog-image {
    margin-left: 0;
    max-width: 100%;
    position: static;
  }
}

.recent-posts-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  font-size: var(--text11);
  margin-bottom: calc(-1 * var(--spacingS));
}

@media only screen and (min-width: 686px) {
  .recent-posts-list {
    justify-content: unset;
  }
}

.recent-posts-list-excerpts {
  font-size: var(--text08);
  margin-top: var(--spacingM);
  margin-bottom: var(--spacingS);
  font-family: var(--fontSerif);
  font-weight: 300;
  line-height: 1.8;
}

.recent-posts-list-time {
  margin-top: var(--spacingXS);
  font-size: 0.85rem;
  text-transform: uppercase;
}

.recent-posts-list-item-title:hover {
  color: var(--linkColor);
}

.recent-posts-list li {
  display: flex;
  flex-direction: column;
  padding: var(--spacingM) var(--spacingM) var(--spacingS) var(--spacingM);
  border-radius: 3px;
  background: var(--blogPostPreviewCard);
  margin-bottom: var(--spacingM);
  position: relative;
  height: auto;
  width: 100%;
  border-bottom: 3px solid var(--funkyBorder);
}

@media only screen and (min-width: 686px) {
  .recent-posts-list li {
    margin-right: var(--spacingM);
    width: 300px;
  }
}

.recent-posts-list li a {
  outline: none;
}

.recent-posts-list li a::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
}

.recent-posts-list-item-title:hover::after,
.recent-posts-list-item-title:focus::after {
  border-right: 2px solid var(--linkHoverColor);
  border-left: 2px solid var(--linkHoverColor);
  border-top: 2px solid var(--linkHoverColor);
  border-bottom: 2px solid var(--funkyBorder);
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  box-shadow: var(--blogPostPreviewCardShadow);
}

.homepage-info {
  display: inline-flex;
  flex-flow: row wrap;
  align-items: center;
  margin-bottom: var(--spacingXL);
}

.homepage-avatar {
  border-radius: 50%;
  opacity: var(--imageOpacity);
  margin-right: var(--spacingM);
  margin-bottom: var(--spacingM);
}

@media only screen and (min-width: 686px) {
  .homepage-avatar {
    margin-bottom: var(--spacingS);
  }
}

.homepage-title {
  font-weight: 500;
  font-size: 2rem;
  display: inline;
  line-height: 1.2;
}

.homepage-description {
  font-weight: 500;
  margin-bottom: var(--spacingS);
}

.find-me-on-links {
  margin-top: var(--spacingXL);
  display: flex;
}

.find-me-on-links a {
  margin-right: var(--spacingM);
}

.back-to-top-svg {
  stroke: var(--linkColor);
}

.back-to-top-svg::hover {
  stroke: var(--linkHoverColor);
}

.heading-with-siblings {
  display: flex;
}

/**
  * Start of scotland js | css page styles
  */

.image-grid-two-images {
  display: flex;
  flex-direction: column;
}

.image-grid-two-images .item2 a,
.image-grid-two-images .item4 a {
  font-weight: 500;
}

figure img {
  margin-bottom: 0;
}

@media screen and (min-width: 700px) {
  .image-grid-two-images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .captions-two-images {
    grid-template-areas: 'a b''c d';
  }

  .image-grid-two-images .item2 {
    grid-area: c;
  }

  .image-grid-two-images .item4 {
    grid-area: d;
  }
}

/**
  * End of scotland js | css page styles
  */

/**
  * Start of word page styles
  */

.bubble,
.bubbley {
  position: relative;
  font-size: var(--text08);
  padding: 15px;
  margin: var(--spacingM) 0 var(--spacingXXL);
  border: 5px solid var(--textColor);
  color: var(--textColor);
  background-color: var(--backgroundColor);
  border-radius: 10px;
  line-height: 2;
}

@media screen and (min-width: 686px) {

  .bubble,
  .bubbley {
    font-size: var(--text09);
  }
}

.words-wrapper {
  font-family: var(--fontSerif);
}

.bubble:before,
.bubbley:before {
  font-size: var(--text08);
  content: '';
  position: absolute;
  bottom: -20px;
  border-width: 20px 20px 0;
  border-style: solid;
  border-color: var(--textColor) transparent;
  display: block;
  width: 0;
}

.bubble:before {
  left: 40px;
}

.bubbley:before {
  right: 40px;
}

.bubble:after,
.bubbley:after {
  content: '';
  position: absolute;
  bottom: -13px;
  border-width: 13px 13px 0;
  border-style: solid;
  border-color: var(--backgroundColor) transparent;
  display: block;
  width: 0;
}

.bubble:after {
  left: 47px;
}

.bubbley:after {
  right: 47px;
}

.words-wrapper {
  color: var(--textColor);
}

.bubble-wrapper {
  width: 100%;
  padding: 0 0 50px;
  margin: 0 auto;
}

@media screen and (min-width: 686px) {
  .bubble-wrapper {
    width: 60%;
  }
}

.words-wrapper h3 {
  font-size: var(--text13);
  margin-bottom: var(--spacingS);
  text-align: center;
}

.words-introduction {
  font-weight: 300;
  font-size: var(--text09);
  margin-bottom: var(--spacingXL);
}

.words-introduction p {
  margin: var(--spacingM) 0;
}

/**
    * End of word page styles
    */

.active {
  text-decoration-color: var(--funkyBorder);
}