@font-face {
  font-family: 'Rubik';
  src: url('/fonts/rubik-v11-latin-regular.woff2') format('woff2');
  font-display: fallback;
}

@font-face {
  font-family: 'Rubik';
  src: url('/fonts/rubik-v11-latin-900.woff2') format('woff2');
  font-display: fallback;
  font-weight: bold;
}

@font-face {
  font-family: 'Quattrocento';
  src: url('/fonts/quattrocento-v12-latin-regular.woff2') format('woff2');
  font-display: fallback;
}

@font-face {
  font-family: 'Quattrocento';
  src: url('/fonts/quattrocento-v12-latin-700.woff2') format('woff2');
  font-display: fallback;
  font-weight: bold;
}

:root {
  /* --text-color-light-mode: #0c3981; */
  --text-color-light-mode: #000000;
  --text-color-dark-mode: #ffffff;
  --background-color-light-mode: #ffffff;
  --background-color-dark-mode: #191b1b;
  --link-color-light-mode: #7d39a4;
  --link-color-dark-mode: #e9d4f7;
  --link-hover-color-light-mode: #6f09aa;
  --link-hover-color-dark-mode: #fbf9fc;
  --blog-post-preview-light-mode: radial-gradient(
    circle,
    rgba(244, 212, 226, 1) 0%,
    rgba(179, 207, 241, 1) 100%
  );
  --blog-post-preview-dark-mode: radial-gradient(
    circle,
    rgba(156, 11, 74, 1) 0%,
    rgba(9, 58, 117, 1) 100%
  );
  --reviewBorderRadius: 10px;
  --readText: #2d2c2c;
  --duration: 0.5s;
  --timing: ease;
  transition: color var(--duration) var(--timing),
    background-color var(--duration) var(--timing);

  font-size: 112.5%;
  scroll-behavior: smooth;
  word-wrap: break-word;
  font-family: 'Rubik';
  background: var(--backgroundColor);
  color: var(--textColor);
  padding: 1rem;
}

html {
  --textColor: var(--text-color-light-mode);
  --linkColor: var(--link-color-light-mode);
  --linkHoverColor: var(--link-hover-color-light-mode);
  --backgroundColor: var(--background-color-light-mode);
  --blogPostPreviewCard: var(--blog-post-preview-light-mode);
}

.dark {
  --textColor: var(--text-color-dark-mode);
  --linkColor: var(--link-color-dark-mode);
  --linkHoverColor: var(--link-hover-color-dark-mode);
  --backgroundColor: var(--background-color-dark-mode);
  --blogPostPreviewCard: var(--blog-post-preview-dark-mode);
}

@media screen and (prefers-color-scheme: light) {
  html {
    --textColor: var(--text-color-light-mode);
    --linkColor: var(--link-color-light-mode);
    --linkHoverColor: var(--link-hover-color-light-mode);
    --backgroundColor: var(--background-color-light-mode);
    --blogPostPreviewCard: var(--blog-post-preview-light-mode);
  }
}

@media screen and (prefers-color-scheme: dark) {
  html {
    --textColor: var(--text-color-dark-mode);
    --linkColor: var(--link-color-dark-mode);
    --linkHoverColor: var(--link-hover-color-dark-mode);
    --backgroundColor: var(--background-color-dark-mode);
    --blogPostPreviewCard: var(--blog-post-preview-dark-mode);
  }
}

a {
  text-decoration: none;
  color: var(--linkColor);
}

a:hover {
  color: var(--linkHoverColor);
}

ul {
  list-style: none;
  padding: 0;
}

nav {
  padding: 1rem 1rem 1rem 0;
}

nav a {
  display: inline-flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
  font-weight: bold;
  margin-right: 20px;
  color: var(--textColor);
}

nav a:hover {
  color: #ffffff;
  background-color: #000000;
}

article {
  font-family: 'Quattrocento';
}

label {
  border-top-width: 0 !important;
  border-right-width: 0 !important;
  border-bottom-width: 0 !important;
  border-left-width: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  height: 1px !important;
  overflow: hidden !important;
  padding-top: 0 !important;
  padding-right: 0 !important;
  padding-bottom: 0 !important;
  padding-left: 0 !important;
  position: absolute !important;
  white-space: nowrap !important;
  width: 1px !important;
}

.main-review-container {
  display: grid;
  margin: 0 1em 3em 1em;
  width: auto;
  height: auto;
  grid-template-columns: 1fr 1rem 1fr 1rem 1fr 1rem 1fr;
  grid-template-rows: 13rem 1rem 0.5fr 1rem 0.5fr;
  grid-template-areas: 'review review review review review review review'
    '. . . . . . .' 'method method method . picture picture picture'
    '. . . . . . .' 'threewords threewords threewords . length length length';
}

@media only screen and (min-width: 500px) {
  .main-review-container {
    margin: 0 1em;
    width: 500px;
    height: auto;
    grid-template-columns: 1fr 1rem 1fr 1rem 1fr 1rem 1fr;
    grid-template-rows: 1fr 1rem 1fr 1rem 1fr;
    grid-template-areas: 'review review review review review . length'
      'review review review review review . .'
      'review review review review review . picture' '. . . . . . picture'
      'method . threewords threewords threewords . .';
  }
}

@media only screen and (min-width: 800px) {
  .main-review-container {
    margin-bottom: 5em;
    width: 800px;
    height: 600px;
    grid-template-columns: 1fr 1rem 1fr 1rem 1fr 1rem 1fr;
    grid-template-rows: 1fr 1rem 1fr 1rem 1fr;
    grid-template-areas: 'review review review . length length length'
      'review review review . . . .' 'review review review . . . picture'
      '. . . . . . picture' 'method . threewords threewords threewords . .';
  }
}

.review-container {
  grid-area: review;
  padding: 1em;
  line-height: 1.5;
  font-size: 0.9rem;
  border-radius: var(--reviewBorderRadius);
  overflow: scroll;
  color: var(--readText);
}

.length-container {
  grid-area: length;
  border-radius: var(--reviewBorderRadius);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--readText);
  font-size: 2.5rem;
}

.image-container {
  grid-area: picture;
  border-radius: var(--reviewBorderRadius);
}

.image-container img {
  width: 100%;
  object-fit: contain;
  vertical-align: middle;
  border-radius: var(--reviewBorderRadius);
}

.method-container {
  border-radius: var(--reviewBorderRadius);
  grid-area: method;
  display: flex;
  justify-content: center;
  align-items: center;
}

.three-words-container {
  grid-area: threewords;
  border-radius: var(--reviewBorderRadius);
  word-break: break-word;
  color: var(--readText);
}

.read-menu-details {
  border: 3px solid var(--textColor);
  max-width: 300px;
  margin: auto;
  margin-top: 2em;
  margin-bottom: 2em;
}

.read-menu-summary {
  display: block;
  border-bottom: 3px solid var(--textColor);
  cursor: pointer;
  text-align: center;
}

/* removes marker arrow from details and summary elements */
::-webkit-details-marker {
  display: none;
}

.read-menu {
  max-height: 200px;
  overflow-y: scroll;
  margin: auto;
  padding: 0.5em 0;
  list-style: none;
}

.read-menu li {
  padding-left: 1em;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  margin-bottom: 0.5em;
}

.read-more-link::after {
  content: ' →';
}

.logo {
  color: var(--textColor);
}

.github-icon,
.twitter-icon,
.linkedin-icon {
  color: var(--linkColor);
}

.github-icon:hover,
.twitter-icon:hover,
.linkedin-icon:hover,
.logo:hover {
  color: var(--linkHoverColor);
}

.blog-image {
  width: 100%;
}

.recent-posts-list {
  font-family: 'Quattrocento';
}

.recent-posts-list li {
  padding: 1rem;
  margin-bottom: 1.5rem;
  border-radius: 8px;
  background: var(--blogPostPreviewCard);
  position: relative;
}

.recent-posts-list li:hover {
  -webkit-box-shadow: 8px 10px 8px -5px #969696;
  box-shadow: 8px 10px 8px -5px #969696;
}

.recent-posts-list li a {
  outline: none;
}

.recent-posts-list li a::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
}

.recent-posts-list li a:hover::after {
  border: 2px solid var(--linkHoverColor);
  border-radius: 8px;
}

.recent-posts-list li a:focus::after {
  border: 2px solid var(--linkHoverColor);
  border-radius: 8px;
}

.homepage-header {
  font-size: 2.5rem;
  margin: 1.5rem 0;
}
