:root {
  --text-color-light-mode: #0c3981;
  --text-color-dark-mode: #f8f8b9;
  --background-color-light-mode: #f8f8b9;
  --background-color-dark-mode: #0c3981;
  --link-color-light-mode: #7d39a4;
  --link-color-dark-mode: #e9d4f7;
  --link-hover-color-light-mode: #6f09aa;
  --link-hover-color-dark-mode: #fbf9fc;
  --reviewBorderRadius: 10px;
  --duration: 0.5s;
  --timing: ease;
  transition: color var(--duration) var(--timing),
    background-color var(--duration) var(--timing);

  font-size: 112.5%;
  scroll-behavior: smooth;
  word-wrap: break-word;
  font-family: Arial, Helvetica, sans-serif;
  background: var(--backgroundColor);
  color: var(--textColor);
}

html {
  --textColor: var(--text-color-light-mode);
  --linkColor: var(--link-color-light-mode);
  --linkHoverColor: var(--link-hover-color-light-mode);
  --backgroundColor: var(--background-color-light-mode);
}

.dark {
  --textColor: var(--text-color-dark-mode);
  --linkColor: var(--link-color-dark-mode);
  --linkHoverColor: var(--link-hover-color-dark-mode);
  --backgroundColor: var(--background-color-dark-mode);
}

@media screen and (prefers-color-scheme: light) {
  html {
    --textColor: var(--text-color-light-mode);
    --linkColor: var(--link-color-light-mode);
    --linkHoverColor: var(--link-hover-color-light-mode);
    --backgroundColor: var(--background-color-light-mode);
  }
}

@media screen and (prefers-color-scheme: dark) {
  html {
    --textColor: var(--text-color-dark-mode);
    --linkColor: var(--link-color-dark-mode);
    --linkHoverColor: var(--link-hover-color-dark-mode);
    --backgroundColor: var(--background-color-dark-mode);
  }
}

a {
  text-decoration: none;
  color: var(--linkColor);
}

a:hover {
  color: var(--linkHoverColor);
}

nav a {
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  color: #000000;
  font-weight: 900;
  width: 150px;
  height: auto;
  padding: 30px;
  margin-right: 20px;
  background-color: #b0caf5;
}

nav a:hover {
  color: #ffffff;
  background-color: #000000;
}

.main-review-container {
  display: grid;
  margin: 0 1em 3em 1em;
  width: auto;
  height: auto;
  grid-template-columns: 1fr 1rem 1fr 1rem 1fr 1rem 1fr;
  grid-template-rows: 13rem 1rem 0.5fr 1rem 0.5fr;
  grid-template-areas: 'review review review review review review review'
    '. . . . . . .' 'method method method . picture picture picture'
    '. . . . . . .' 'threewords threewords threewords . length length length';
}

@media only screen and (min-width: 500px) {
  .main-review-container {
    margin: 0 1em;
    width: 500px;
    height: auto;
    grid-template-columns: 1fr 1rem 1fr 1rem 1fr 1rem 1fr;
    grid-template-rows: 1fr 1rem 1fr 1rem 1fr;
    grid-template-areas: 'review review review review review . length'
      'review review review review review . .'
      'review review review review review . picture' '. . . . . . picture'
      'method . threewords threewords threewords . .';
  }
}

@media only screen and (min-width: 800px) {
  .main-review-container {
    margin-bottom: 5em;
    width: 800px;
    height: 600px;
    grid-template-columns: 1fr 1rem 1fr 1rem 1fr 1rem 1fr;
    grid-template-rows: 1fr 1rem 1fr 1rem 1fr;
    grid-template-areas: 'review review review . length length length'
      'review review review . . . .' 'review review review . . . picture'
      '. . . . . . picture' 'method . threewords threewords threewords . .';
  }
}

.review-container {
  grid-area: review;
  padding: 1em;
  line-height: 1.5;
  font-size: 0.9rem;
  border-radius: var(--reviewBorderRadius);
  overflow: scroll;
}

.length-container {
  grid-area: length;
  border-radius: var(--reviewBorderRadius);
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-container {
  grid-area: picture;
  border-radius: var(--reviewBorderRadius);
}

.image-container img {
  width: 100%;
  object-fit: contain;
  vertical-align: middle;
  border-radius: var(--reviewBorderRadius);
}

.method-container {
  border-radius: var(--reviewBorderRadius);
  grid-area: method;
  display: flex;
  justify-content: center;
  align-items: center;
}

.three-words-container {
  grid-area: threewords;
  border-radius: var(--reviewBorderRadius);
  word-break: break-word;
  color: var(--textColor);
}

.read-menu-details {
  border: 3px solid var(--textColor);
  max-width: 300px;
  margin: auto;
  margin-top: 2em;
  margin-bottom: 2em;
}

.read-menu-summary {
  display: block;
  border-bottom: 3px solid var(--textColor);
  cursor: pointer;
  text-align: center;
}

/* removes marker arrow from details and summary elements */
::-webkit-details-marker {
  display: none;
}

.read-menu {
  max-height: 200px;
  overflow-y: scroll;
  margin: auto;
  padding: 0.5em 0;
  list-style: none;
}

.read-menu li {
  padding-left: 1em;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  margin-bottom: 0.5em;
}

.read-more-link::after {
  content: ' →';
}

.github-icon,
.twitter-icon,
.linkedin-icon {
  color: var(--linkColor);
}

.github-icon:hover,
.twitter-icon:hover,
.linkedin-icon:hover {
  color: var(--linkHoverColor);
}

.recent-posts-list {
  list-style: none;
  padding: 0;
}

.blog-image {
  width: 100%;
}
