@font-face {
  font-family: 'Rubik';
  src: url('/fonts/rubik-v11-latin-regular.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Merriweather';
  src: url('/fonts/merriweather-v22-latin-regular.woff2') format('woff2');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Rubik';
  src: url('/fonts/rubik-v11-latin-900-webfont.woff2') format('woff2');
  font-weight: bold;
  font-display: swap;
}

@font-face {
  font-family: 'Merriweather';
  src: url('/fonts/merriweather-v22-latin-300.woff2') format('woff2');
  font-weight: 300;
  font-display: swap;
}

:root {
  --text-color-light-mode: #000000;
  --text-color-dark-mode: #ffffff;
  --secondary-text-color-light-mode: #6d6767;
  --secondary-text-color-dark-mode: #b8aeae;
  --inline-code-background-color-light-mode: #dae3f7;
  --inline-code-background-color-dark-mode: #e8e8e8;
  --background-color-light-mode: #ffffff;
  --background-color-dark-mode: #191b1b;
  --secondary-background-color-light-mode: #f1f6ff;
  --secondary-background-color-dark-mode: #141640;
  --tertiary-background-color-light-mode: #ffe5f6;
  --tertiary-background-color-dark-mode: #9c2980;
  --blockquote-background-color-light-mode: #e9ebf3;
  --blockquote-background-color-dark-mode: #33374c;
  --link-color-light-mode: #4b0e90;
  --link-color-dark-mode: #ffffff;
  --link-hover-color-light-mode: #2b0a79;
  --link-hover-color-dark-mode: #f758d7;
  --blog-post-preview-shadow-light-mode: 8px 10px 8px -5px rgba(150, 150, 150, 0.5);
  --blog-post-preview-light-mode: radial-gradient(
    circle at 100% 80%,
    #f9e8f0 0%,
    #b3cff1 100%
  );
  --blog-post-preview-dark-mode: radial-gradient(
    circle at 100% 80%,
    #0e1c6a 0%,
    #673ab7 100%
  );
  --reviewBorderRadius: 10px;
  --readText: #131212;
  --funkyBorder: #fa0dc7;
  --duration: 0.5s;
  --timing: ease;
  transition: color var(--duration) var(--timing),
    background-color var(--duration) var(--timing);

  --text25: 2.5rem;
  --text20: 2rem;
  --text15: 1.5rem;
  --text13: 1.3rem;
  --text12: 1.2rem;
  --text11: 1.1rem;
  --text1: 1rem;
  --text09: 0.9rem;
  --text08: 0.8rem;
  --text07: 0.7rem;
  --text02: 0.2rem;

  --spacingXXXL: 5rem;
  --spacingXXL: 3rem;
  --spacingXL: 2rem;
  --spacingL: 1.5rem;
  --spacingM: 1rem;
  --spacingS: 0.5rem;
  --spacingXS: 0.2rem;
  --spacingXXS: 0.1rem;

  --fontSansSerif: 'Rubik', Arial, Helvetica, sans-serif;
  --fontSerif: 'Merriweather', Georgia, serif;

  --lineHeight: 1.8;

  font-size: 112.5%;
  scroll-behavior: smooth;
  word-wrap: break-word;
  background: var(--backgroundColor);
  color: var(--textColor);
}

html {
  --textColor: var(--text-color-light-mode);
  --secondaryTextColor: var(--secondary-text-color-light-mode);
  --inlineCodeBackgroundColor: var(--inline-code-background-color-light-mode);
  --linkColor: var(--link-color-light-mode);
  --linkHoverColor: var(--link-hover-color-light-mode);
  --linkHoverColorUnchanged: var(--link-hover-color-light-mode);
  --backgroundColor: var(--background-color-light-mode);
  --secondaryBackgroundColor: var(--secondary-background-color-light-mode);
  --tertiaryBackgroundColor: var(--tertiary-background-color-light-mode);
  --blockQuoteBackgroundColor: var(--blockquote-background-color-light-mode);
  --blogPostPreviewCard: var(--blog-post-preview-light-mode);
  --blogPostPreviewCardShadow: var(--blog-post-preview-shadow-light-mode);
  --imageOpacity: 1;
}

.dark {
  --textColor: var(--text-color-dark-mode);
  --secondaryTextColor: var(--secondary-text-color-dark-mode);
  --inlineCodeBackgroundColor: var(--inline-code-background-color-dark-mode);
  --linkColor: var(--link-color-dark-mode);
  --linkHoverColorUnchanged: var(--link-hover-color-light-mode);
  --linkHoverColor: var(--link-hover-color-dark-mode);
  --backgroundColor: var(--background-color-dark-mode);
  --secondaryBackgroundColor: var(--secondary-background-color-dark-mode);
  --tertiaryBackgroundColor: var(--tertiary-background-color-dark-mode);
  --blockQuoteBackgroundColor: var(--blockquote-background-color-dark-mode);
  --blogPostPreviewCard: var(--blog-post-preview-dark-mode);
  --blogPostPreviewCardShadow: '';
  --imageOpacity: 0.9;
}

@media screen and (prefers-color-scheme: dark) {
  html:not(.light) {
    --textColor: var(--text-color-dark-mode);
    --secondaryTextColor: var(--secondary-text-color-dark-mode);
    --inlineCodeBackgroundColor: var(--inline-code-background-color-dark-mode);
    --linkColor: var(--link-color-dark-mode);
    --linkHoverColorUnchanged: var(--link-hover-color-light-mode);
    --linkHoverColor: var(--link-hover-color-dark-mode);
    --backgroundColor: var(--background-color-dark-mode);
    --secondaryBackgroundColor: var(--secondary-background-color-dark-mode);
    --tertiaryBackgroundColor: var(--tertiary-background-color-dark-mode);
    --blockQuoteBackgroundColor: var(--blockquote-background-color-dark-mode);
    --blogPostPreviewCard: var(--blog-post-preview-dark-mode);
    --blogPostPreviewCardShadow: '';
    --imageOpacity: 0.9;
  }
}

/* Utility classes */

.link-single {
  font-weight: bold;
}

.single-link-light {
  font-weight: 500;
}

.readable-text {
  font-family: var(--fontSerif);
  margin-top: var(--spacingM);
  font-weight: 300;
  font-size: var(--text09);
  line-height: var(--lineHeight);
}

.hidden {
  border-top-width: 0 !important;
  border-right-width: 0 !important;
  border-bottom-width: 0 !important;
  border-left-width: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  height: 1px !important;
  overflow: hidden !important;
  padding-top: 0 !important;
  padding-right: 0 !important;
  padding-bottom: 0 !important;
  padding-left: 0 !important;
  position: absolute !important;
  white-space: nowrap !important;
  width: 1px !important;
}
