---
title: Learn
layout: main.njk
description: This page contains links to mini-posts on things I learn as a developer! My aim is to add at least 100 posts here. Check back regularly for more.
---

<div class="learn-wrapper">
    <h1 class="learn-title">Learn</h1>
    <p class="learn-introduction">This page contains links to mini-posts on things I learn as a developer! My aim is to add at least 100 posts here. Check back regularly for more.</p>
    <ul class="learn-list">
        {% for p in collections.learn | learnSort %}
            <li>
                <a href="{{ p.url }}">{{ p.data.title }}</a>
                <span class="learn-post-dates">{{ p.data.postdate }}</span>
            </li>
        {% endfor %}
    </ul>
</div>