---
layout: main.njk
title: Oops! Not Found
permalink: 404.html
description: No content here. Read a blog post instead?
---

<div class="wrapper not-found-wrapper">
  <h1 class="title not-found-title">{{ title }}</h1>
  <p>No content here :(. Go <a class="link-single" href="{{ "/blog" | url }}">read a blog post</a>? :)</p>
</div>