--- 
title: Amber's Site 
eleventyExcludeFromCollections: true
--- 
{% from "macros/githubIconSVG.njk" import githubIconSVG %} 
{% from "macros/twitterIconSVG.njk" import twitterIconSVG %}
{% from "macros/linkedInIconSVG.njk" import linkedInIconSVG %}

<h1>Latest Posts</h1>

<ul class="recent-posts-list" role="list">
    {% for p in collections.posts | reverse | limit(3) %}
    <li>
        <a href="{{ p.url }}">{{ p.data.title }}</a>
        <p>{{ p.data.date | readableBlogListDate }}</p>
        {% if p.data.excerpt %}
        <p>{{ p.data.excerpt | toHTML | safe }}…</p>
        {% else %}
        <p>{{ p.templateContent | getExcerpt }}</p>
        {% endif %}
    </li>
    {% endfor %}
</ul>

<a href="blog" class="read-more-link">Read more</a>

<p>
     <a href="https://github.com/ambrwlsn">
        {{ githubIconSVG() }}
    </a>
    <a href="https://twitter.com/ambrwlsn90">
        {{ twitterIconSVG() }}
    </a>
    <a href="https://www.linkedin.com/in/ambrwlsn90/">
        {{ linkedInIconSVG() }}
    </a>
</p>