---
title: Projects
eleventyExcludeFromCollections: true
description: Here are a selection of Amber Wilson's favourite projects
keywords: [projects, developer, JavaScript, api, mvc, local state, empty state, error state]
---
<div class="wrapper project-wrapper">

<h1 class="title">Projects</h1>
<p>
These are some projects I did for fun with vanilla JavaScript!
</p>

<div class="project-dad-joke"><span class="project-dad-joke-title">Dad Jokes Rock</span><div class="project-dad-joke-face"></div><img class="project-dad-joke-lol" src="img/lol.svg" alt=""/></div>
</div>